delete from mysql.user where User='%%USER%%';
insert into mysql.user (User, Host, authentication_string, ssl_cipher, x509_issuer, x509_subject)
  values('%%USER%%', 'localhost', '', '', '', '');
flush privileges;
select User, Host, authentication_string from mysql.user;
grant all privileges on system_trade.* to %%USER%%@localhost;
flush privileges;
show grants for '%%USER%%'@'localhost';

