-- generate %%TABLE%% basic data
insert into %%TABLE%%(date, open, high, low, close)
select t1.date,
       t1.open,
       t1.high,
       t1.low,
       t1.close
from (select *
      from %%TABLE%%_master
      where date > (
              select if(
                       max(date) is NULL,
                       0,
                       max(date)
                     )
              from %%TABLE%%
            )
     ) t1
order by t1.date;

